/* This sets global css variables used for colors */
/* use it by replacing  #d8e1e5;   with  var(--lightG);  */
/* be sure not to replace the root section color code  */

:root {
   --lightG: #d8e1e5;       /*  var(--lightG);      */
   --darkG: #2e6d89;        /*  var(--darkG);       */
   --medDark: #5289a0;   /*  var(--medDark);  */
   --medLight: #93b2c1;   /*  var(--medLight);  */
}


/*Below sets the basic layout of the flex and grid boxes
for the client.php page.
*/

html{
    background-color: var(--medLight);
}

.content-body{
    height: 100%;
    display:grid;
    grid-template-rows: 75px 1fr;
}

#logo{
    margin: 8px 8px 8px 8px;
}

.story-info{
    display:flex;
    margin-left: 10px; 
    font-weight: bold;
    color: white; 
    font-family: 'Abel', sans-serif;
}

.story-info h1{
    margin-top:10px;
    width: 100%;
    font-size: 48px;
    text-shadow: 2px 2px black;
}

.header{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, var(--lightG), var(--darkG));
    padding-left: 6px;
    height: 75px;
}

.story-title{
    margin-left: 18px;
    color: white;
    font-family: 'Raleway', sans-serif; 
    font-size: 18px;
}

.header-menu{
    margin-left: auto;
    margin-top: 48px;
}

.header-menu a{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px;

}
.header-menu a:hover{
    color: var(--lightG);
    text-decoration: none;

}

/*Grid*/
.grid-container {

    position: relative;
    display: grid;
    /*grid-gap: 13px;*/
    background-color: var(--lightG);
    grid-template-columns: [col1-start] 180px  [col2-start] 3fr  [col3-start] 1.8fr ;
    grid-template-rows: [row1-start] 490px [row2-start] 370px [row3-start];
}



.slides {
    max-height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    justify-content: center;
    background: var(--medDark);
    grid-column: col1-start / col2-start;
    grid-row: row1-start / row3-start ;
    overflow:auto;
    text-color: white;
}


.thumbnail {
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 0px;
    border: 0px;/*overwritting from bootstrap*/
}


.tn_text{

    margin: 0 15px 0 15px;	
    padding-top: 6px;
    font-family: 'Raleway', sans-serif;
    display : flex; 
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    color: var(--lightG);
}
#checkImg{
	margin: 0;
	float:right;
}
.slides::-webkit-scrollbar-track, #messagesContainer::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: var(--darkG);
}
#messagesContainer::-webkit-scrollbar-thumb
{
    border-radius:10px;
    background-color: #d2d3df;

}


.slides::-webkit-scrollbar, #messagesContainer::-webkit-scrollbar
{
    width: 15px;
    background-color: var(--medDark);

}

.slides::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: white;
}

.audio {
    grid-column: col2-start / col3-start;
    grid-row: row1-start;
    padding: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    /*margin-top: 10px;*/
    background: var(--medLight);
}
.left-audio{
    background: white;
    margin: 5px;
    flex: 1;
    display:flex;
    flex-direction: column;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.left-audio .currSlide, .slideBar{
    align-items: center;
    justify-content: space-between;
}
.left-audio #lf-t{
    text-align: left;
    background: var(--medDark);
    color: white;
    padding: 7px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;

}


.center-audio{
    align-items: flex-end;

    margin: 0 10px 0 10px;
    background: white;
    flex:1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.center-audio #ca-t{
    text-align: left;
    background: var(--medDark);
    color: white;
    padding: 7px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.transcripts{
    overflow:auto;
    color: black;
    margin: 10px;
    padding: 20px;
    font-family: 'Lora', sans-serif; 
    font-size: 15px;
    display: inline-block;
}

.transcripts #refText{
    font-size: 25px;
}

.right-audio{
    background: white;
    flex: 1;
    margin: 5px;
    display:flex;
    flex-direction:column;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    min-width: 200px;
}
.right-audio #rt-t{
    text-align: left;
    background: var(--medDark);
    color: white;
    padding: 7px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}
.currSlide {
    margin: 10px;
    display:flex;
    flex-direction: row;
}
.currSlide img{
    max-width: 200px;
    max-height:200px;
}
audio{
    max-width: auto;
}
.theAudioPlayer{
    margin: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.approvedTitle{
    font-family: 'Lora', sans-serif; 
    font-size: 22px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    min-width: 350px;
}

.approvedTitle p{
    margin: 0px;
    padding-top: 5px;
    text-align: center;
}


.written-notes{
    height: 77%; 
}

.written-notes #editor-container{

    min-height: 310px;
    max-height: 310px;
    overflow:auto;

}
.written-notes #saveButton{

    height: auto;
}

#prevSlide, #fwdSlide{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height:350px;
    width:35px;
    margin: 5px;
    background: var(--medDark);
    border: none;
    border-radius: 4px;
    display: inline-block;

}
#prevSlide:hover, #fwdSlide:hover{
    background-color: var(--darkG);
}

#saveButton{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding:5px;
    float:right;
    font-size:15px;
    border: none;
    border-radius: 5px;
    margin: 7px;
    background: #25274d;
    font-family: 'Quicksand', sans-serif; 
    color: white;
}

#saveButton:hover{
    background-color: var(--medDark);
}
#prevSlide img{
    width:10px;
    height:10px;
}
#fwdSlide img{
    width:10px;
    height:10px;
}


.story-title {
    self-align: left;
}


.messages {
    display:flex;
    flex-direction: column;
    flex: 1;
    grid-column: col3-start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    grid-row: row1-start ;
    background: var(--medLight);

}

.messages #m-t{
    text-align: left;
    background: var(--medDark);
    color: white;
    padding: 7px;
    margin-bottom: 2px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

#messagesContainer {   

    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height:100%;
    overflow:auto;
    background: white;
}

.msg{
    display:flex;
    background:white;
    flex-direction:row;
    border-top:1px solid gray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.msg-input{

    background: white;
    width: 100%;
    height: 50px;
    overflow:auto;
    border:none;
    outline: none;
}

#msg-send{
    margin-right: 4px;
    color:white;
    background-color: white;
    border:none;
    outline: none;
}

input[type="text"]
{
    padding-left: 10px;
    font-family: 'Quicksand', sans-serif; 
    font-size:12px;
    font-weight: bold;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: 100;

    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size:12px;
}
.fieldMessage {
    padding:9px;
    margin: 7px;
    background-color: #cbcbcb;
    border-radius: 10px;
    float: left;s
    font-size: 10pt;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
    width: 75%;
}

.consultantMessage {
    padding:9px;
    margin: 7px;
    color:white;
    background-color:var(--medDark);
    border-radius: 10px;
    float: right;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif; 
    width: 75%;
}

.transcriptMessage {

    margin: 7px;
    color:white;
    background: rgb(231,105,42);
    background: var(--medLight);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    padding: 7px;
    margin-bottom: 2px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    width: 75%;
    float: left;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif; 
    width: 75%;
}

.lookup{

    padding: 10px;
    padding-right: 13px;
    display:flex;
    flex-direction: row;
    grid-column: col2-start/col3-start ;
    grid-row: row2-start ;
    background: var(--medLight);
}

.bible{
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    background:white;
    border-radius: 5px;
    grid-column: col3-start;
    min-width: 250px;
}

button.tablinks{
    text-align: left;
    background-color: var(--darkG);
    color: white;
    padding: 7px;
    margin-bottom: 2px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    border: none;
}

.w-story{
    border-radius: 5px;
    background: white;
    flex: 2;
    display:flex;
    flex-direction: column;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.w-trans{
    flex: 3;
    height: 80%;
    margin: 8px 8px 0px 8px;
}
#ws-form{
    flex: 1;
    display: flex;
    flex-direction:column; 
    height:100%;
}

#editor-container2{
  height: 100%;   

 overflow:auto;    
}

.w-audio{
    margin: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#saveButton2{
    margin: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding:5px;
    float:right;
    font-size:15px;
    border: none;
    border-radius: 5px;
    margin: 7px;
    background: #25274d;
    font-family: 'Quicksand', sans-serif; 
    color: white;
    width: 180px;
}

.saveButton2Div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*Styling for toggle approval*/



.switch {
    position: relative;
    min-width: 58px;
    max-width: 58px;
    height: 43px;
    justify-self: end;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darkG);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #87ed3e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.slider.round {
    border-radius: 34px;

}

.slider.round:before {
    border-radius: 50%;
}

.notification {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
}


/*Below for tabs in lower right div*/

.tab button:hover{
    background: var(--medDark);
}

.tab button:active{
    background: var(--medDark);
}

.tabcontent{
    display:none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabHeader {
    background: var(--medDark);
}
