/* This sets global css variables used for colors */
/* use it by replacing  #d8e1e5;   with  var(--lightG);  */
/* be sure not to replace the root section color code  */

:root {
   --lightG: #d8e1e5;       /*  var(--lightG);      */
   --darkG: #2e6d89;        /*  var(--darkG);       */
   --medDark: #5289a0;     /*  var(--medDark);  */
   --medLight: #93b2c1;   /*  var(--medLight);  */
}


/*Below sets the basic layout of the flex and grid boxes
for the client.php page.
 */
body,html{
	background-color: var(--medLight);
	height: 100%;
	padding: 0px;
}

a{
	color: black;
}

.container{
	padding-right: 0px !important;
	padding-left: 0px !important;
	min-width:100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#logo{
	margin: 8px 8px 8px 8px;
}

.flex-header {
    background: linear-gradient(to right, var(--lightG), var(--darkG));
}


.header-top{
	display: flex;
	justify-content: space-between;
}

.story-info{
	display: flex;
	flex-direction: row;
	font-weight: bold;
	color: white; 
	font-family: 'Abel', sans-serif;
}
.story-info h1{
	margin-top:10px;
	font-size: 48px;
    	text-shadow: 2px 2px black;
}
.header-btm, .header-top{
	display:flex;
	flex-direction: row;
}
.header-menu{
	margin-top: 50px;
}
.header-menu a{
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	margin: 30px;
	color: white;
	font-family: 'Montserrat', sans-serif; 
	font-size: 18px;

}
.header-menu a:hover{
	color: var(--medDark);
	text-decoration: none;

}
th{
	font-family: 'Montserrat', sans-serif; 
	font-size: 20px;
}
td{
	font-family: 'Abel', sans-serif;
	font-size: 20px;

}
td:hover{
	text-decoration: none;
}
.flex-container{
	display: flex;
	height: 100%;
}
.languages{
	padding-top: 10px;
      background: var(--medDark);
	flex: 1;
}

.langDiv{
	text-align: right;
	font-family: 'Raleway', sans-serif;
	min-height: 70px;
	margin: 8px;
	color: white;
	font-size: 20px;
	padding: 10px;
}

.langDiv:hover{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background: var(--darkG);
    text-decoration: none;
}

#info{
      background: var(--lightG);
	flex: 5;
	display:flex;
	flex-direction: row;
}
#storyData{
	display: flex;
	flex-direction:column;
	flex: 3;
}
#currStory{
	margin: 2px;
	flex: 1;
	display:flex;
	flex-direction: row;
	justify-content: space-between;

}
#csLeft{
	display:flex;
	flex-direction: column;
	text-align: center;
	padding-left: 50px;
}
#img_thumb{
	min-width: 190px;
	border: 1px solid white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	border-radius: 5px;
	/* Changed aspect ratio of the thumbnail */
	height: 140px;
	width: 190px;
	margin-top: 20px;
}

#csLeft> a{
	margin-top: 13px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color:black;
}

#csLeft p{
	padding: 3px;
	color:#696868;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
}

#currStory > #csLeft> a:hover{
	text-decoration:none;
	color:white;
}


	
#csRight{
	margin-top: 0;
	min-width: 100px;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	padding-right: 30px;
}
#csRightLink{
	color: black;
}
#csRightLink:hover{
	text-decoration: none;
	color:white;
}
#storyProg{
	display:flex;
	margin-top: 9px;
	border-top: 2px solid white;
	justify-content: space-between;
	flex-direction: row;
	flex: 1;
}
#progress{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	width: %100;
	display: flex;
	flex-direction: row;
	text-align: center;
	flex:1;
}
#bar-info{
	padding:10px 0px 0px 20px;
	font-size: .8em;
	display:flex;
	text-align:center;
	flex-direction: column;
}
#bar-info p{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align:left;
}
#bar-info p2{
	font-weight: bold;
	margin-top: 14px;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}
#bar{
	margin:10px 0px 0px 40px;
	font-size: .8em;
}
#bar .rp_text{ 
	font-family: 'Quicksand', sans-serif;
}
#p-info{
	justify-content: center;
	display: flex;
	text-align: left;
	flex-direction: column;
	margin-left: 40px;
	margin-bottom: 40px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 18px;

}
#p-info p1{
	margin:5px;
	color: #212238; 
}
#p-info p2{
	color: white; 
}

#other-info{
	flex:1;
}
#storyCol{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background-color:white;
	margin: 10px 10px 10px 0 ;
	border-radius: 5px;
	padding: 5px;
	flex: 1;
}
#pLN{
	text-align: center;
	margin: 15 0 30 0;
	font-size: 30px;
	color:white;
	margin-bottom: 0px;
	font-family: 'Quicksand', sans-serif;
}
#lnHR{
	border-color:white;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

#pSL{
	text-align: center;
	font-size: 30px;
	margin-bottom: 0px;
	font-family: 'Raleway', sans-serif;
}
#pSD{
	color:#212238;
	margin-left: 50px;
	font-family: 'Lora', sans-serif;
	font-size: 70px;
}
#pSDHR{
	border-top: 1px;
	height: 1px;
	border-color:white;
}
.storyDivClass{
	display:flex; 
	align-items:baseline;
	flex-direction: row; 
	justify-content: space-between;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size: 17px;
	color:#212238;
	margin:10px;
	color:black;
	min-height: 30px;
	flex: 1;
}
#storyList .storyDivClass:hover{
	color: #286090; 
	font-size:17.5px;
}
.storyDiv a{
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color:#212238;
}
