vendor/
composer.lock
DBConfig.php
php_errorlog
.htaccess
*.code-workspace
error.log
*.swp
*.swo
composer.phar
/nbproject/private/
*~
Files/



# test db file
StoryProducer.db
.idea
.phpunit.result.cache
coverage.xml
phpunit.xml.dist
.phpunit.cache